<!--
Liens documentation :
https://getbootstrap.com/docs/4.2/components/navbar/
https://mdbootstrap.com/docs/angular/navigation/navbar/
-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Ping-Pong</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"
            (click)=manageCollapse()>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="isNavBarCollapsed">
      <ul ngbNav class="navbar-nav mr-auto">
        <li ngbNavItem routerLinkActive="active">
          <a ngbNavLink routerLink="/tournament/new" (click)=collapseNavBar()>Créer un tournoi</a>
        </li>
        <li ngbNavItem routerLinkActive="active">
          <a ngbNavLink routerLink="/tournaments" (click)=collapseNavBar()>Voir les tournois</a>
        </li>
      </ul>
    </div>
    <button class="btn btn-warning" *ngIf="isUserConnected" (click)=logout()>Se déconnecter
      <span>({{ connectedUsername }}</span>)
    </button>
    <button class="btn btn-warning" *ngIf="!isUserConnected" (click)=login()>Se connecter</button>
  </div>
</nav>
