#Backend folder

backend/target/

backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

backend/.idea
*.iws
*.iml
*.ipr

backend/.vscode/

backend/.mvn
